<template>
  <v-card class="elevation-15 pa-5">
    <v-layout row wrap justify-space-around>
      <v-flex xs12 md6 sm6 lg6>
        <CalculoChamada />
      </v-flex>
      <v-flex xs12 md5 sm5 lg5>
        <PlanosMinutos />
        <br />
        <TabelaPreco />
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
import TabelaPreco from "../components/TabelaPreco";
import PlanosMinutos from "../components/PlanosMinutos";
import CalculoChamada from "@/components/CalculoChamada";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    TabelaPreco,
    PlanosMinutos,
    CalculoChamada
  },

  computed: {
    ...mapGetters(["getTabelaPrecos"]),
    ...mapActions(["actionConsultaTabelaPrecos"])
  },

  async mounted() {
    await this.$store.dispatch("actionConsultaTabelaPrecos");
  }
};
</script>

<style>
.mainContainer {
  /* border: 1px solid #000; */
  /* display: flex; */
  padding: 30px;
  width: 100%;
  height: 100%;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
</style>
