<template>
  <div class="borda-calculo-chamada">
    <v-layout row wrap justify-center>
      <v-card-title primary-title>Faça uma simulação</v-card-title>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md3 sm3 lg3>
        <v-autocomplete
          label="DDD de origem"
          :items="listaOrigem"
          v-model="dddOrigemSelecionado"
          @change="verificaCampos"
        ></v-autocomplete>
      </v-flex>
      <v-flex xs12 md3 sm3 lg3>
        <v-autocomplete
          label="DDD de destino"
          :items="listaDestino"
          v-model="dddDestinoSelecionado"
          @change="verificaCampos"
        ></v-autocomplete>
      </v-flex>
      <v-flex xs12 md3 sm3 lg3>
        <v-text-field
          v-model="valorTarifa"
          readonly
          label="Valor da tarifa"
          mask="###.###,##"
          prefix="R$"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 md3 sm3 lg3>
        <v-select
          :items="valoresPlano"
          v-model="valorPlanoSelecinado"
          label="Plano Fale Mais:"
        ></v-select>
      </v-flex>
      <v-text-field
        v-model="minutosInformados"
        label="Minutos utilizados"
      ></v-text-field>
    </v-layout>
    <v-layout row wrap justify-space-between>
      <v-btn rounded class="elevation-0" color="warning" @click="limparCampos"
        >Limpar</v-btn
      >
      <v-btn
        rounded
        class="elevation-0"
        color="success"
        @click="realizaCalculo"
        :disabled="!botaoAtivo"
        >Verificar</v-btn
      >
    </v-layout>
    <v-card flat outlined height="100px" class="mt-3">
      <v-layout row wrap>
        <v-flex xs12 md6 sm6 lg6>
          <p class="resultado-titulo">
            <b>
              Com FaleMais:
            </b>
          </p>
          <p class="resultado-com-fale-mais">{{ valorComFaleMais }}</p>
        </v-flex>
        <v-flex xs12 md6 sm6 lg6>
          <p class="resultado-titulo">
            <b>Sem FaleMais:</b>
          </p>
          <p class="resultado-sem-fale-mais">{{ valorSemFaleMais }}</p>
        </v-flex>
      </v-layout>
    </v-card>
    <DialogAlerta
      @fecharDialog="dialogAlerta = false"
      :dialog="dialogAlerta"
      :dddOrigem="dddOrigemSelecionado"
      :dddDestino="dddDestinoSelecionado"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import DialogAlerta from "./DialogAlerta";
import FormataMonetario from "@/util/FormataMonetario";
import axios from "axios";

export default {
  components: {
    DialogAlerta
  },

  data: () => ({
    dddOrigemSelecionado: null,
    dddDestinoSelecionado: null,
    listaOrigem: [],
    listaDestino: [],
    valoresPlano: [30, 60, 120],
    valorPlanoSelecinado: null,
    minutosInformados: null,
    valorComFaleMais: null,
    valorSemFaleMais: null,
    valorTarifa: null,
    snackbar: false,
    dialogAlerta: false,
    botaoAtivo: false
  }),

  computed: {
    ...mapGetters(["getTabelaPrecos"]),
    ...mapActions(["actionConsultaTabelaPrecos"])
  },

  watch: {
    dddOrigemSelecionado() {
      this.ativaBotao();
    },

    dddDestinoSelecionado() {
      this.ativaBotao();
    },

    valorPlanoSelecinado() {
      this.ativaBotao();
    },

    valorTarifa() {
      this.ativaBotao();
    },

    minutosInformados() {
      this.ativaBotao();
    }
  },

  methods: {
    ativaBotao() {
      if (
        this.dddOrigemSelecionado &&
        this.dddDestinoSelecionado &&
        this.minutosInformados &&
        this.valorTarifa &&
        this.valorPlanoSelecinado
      ) {
        this.botaoAtivo = true;
      }
    },

    verificaCampos() {
      if (this.dddOrigemSelecionado && this.dddDestinoSelecionado) {
        this.identificaTarifa();
      }
    },

    montaListaOrigem() {
      this.listaOrigem = this.getTabelaPrecos.map(item => item.dddOrigem);
    },

    montaListaDestino() {
      this.listaDestino = this.getTabelaPrecos.map(item => item.dddDestino);
    },

    identificaTarifa() {
      const itemPreco = this.getTabelaPrecos.find(
        item =>
          item.dddOrigem === this.dddOrigemSelecionado &&
          item.dddDestino === this.dddDestinoSelecionado
      );

      if (!itemPreco) this.valorTarifa = "0.00";
      else this.valorTarifa = itemPreco.valorTarifa;
    },

    limparCampos() {
      this.dddOrigemSelecionado = null;
      this.dddDestinoSelecionado = null;
      this.valorTarifa = null;
      this.valorPlanoSelecinado = null;
      this.minutosInformados = null;
      this.valorSemFaleMais = null;
      this.valorComFaleMais = null;
      this.botaoAtivo = false;
    },

    async realizaCalculo() {
      if (
        this.dddOrigemSelecionado &&
        this.dddDestinoSelecionado &&
        this.minutosInformados &&
        this.valorTarifa !== "0.00" &&
        this.valorPlanoSelecinado
      ) {
        await axios
          .post("http://localhost:3333/valor-chamada", {
            dddOrigem: this.dddOrigemSelecionado,
            dddDestino: this.dddDestinoSelecionado,
            plano: this.valorPlanoSelecinado,
            tempo: this.minutosInformados
          })
          .then(res => {
            this.valorComFaleMais = FormataMonetario(
              res.data.conteudo.comFaleMais
            );
            this.valorSemFaleMais = FormataMonetario(
              res.data.conteudo.semFaleMais
            );
          })
          .catch(err =>
            console.warn("Erro ao consultar valor da chamada", err)
          );
      } else {
        this.dialogAlerta = true;
      }
    }
  },

  created() {
    this.$store.dispatch("actionConsultaTabelaPrecos").then(() => {
      this.montaListaOrigem();
      this.montaListaDestino();
    });
  }
};
</script>

<style>
.resultado-titulo {
  font-size: 18px;
  text-align: center;
}

.resultado-com-fale-mais {
  widows: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(23, 23, 190);
}

.resultado-sem-fale-mais {
  widows: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(218, 127, 8);
}

.borda-calculo-chamada {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 30px;
  height: 100%;
}
</style>
