<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
    transition="dialog-transition"
  >
    <v-card class="pa-4">
      <v-layout row wrap justify-center>
        <span class="texto-alerta"
          >Seu plano não cobre do DDD de origem ({{ dddOrigem }}) para o DDD de
          destino ({{ dddDestino }}).</span
        >
      </v-layout>
      <v-layout row wrap justify-center class="mt-4">
        <v-btn color="success" class="elevation-0" rounded @click="fecharDialog"
          >ok</v-btn
        >
      </v-layout>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },

    dddOrigem: {
      type: Number,
      default: 0
    },

    dddDestino: {
      type: Number,
      default: 0
    }
  },

  methods: {
    fecharDialog() {
      this.$emit("fecharDialog");
    }
  }
};
</script>

<style>
.texto-alerta {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}
</style>
