<template>
  <div class="borda-plano">
    Planos disponíveis:
    <v-layout row wrap justify-center>
      <div
        class="tipos-planos"
        v-for="(plano, index) in planos"
        :key="index"
        flat
      >
        <span>{{ plano }}</span>
      </div>
    </v-layout>
  </div>
</template>

<script>
export default {
  data: () => ({
    planos: ["Plano FaleMais 30", "Plano FaleMais 60", "Plano FaleMais 120"]
  })
};
</script>

<style>
.tipos-planos {
  background-color: #eee;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 15px;
}

.borda-plano {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
}
</style>
