<template>
  <div class="borda-tabela">
    <span class="texto-tabela-precos">Tabela de referência:</span>
    <v-data-table
      :headers="headers"
      :items="itemsValores"
      hide-default-footer
      class="elevation-0 tabela-preco"
      pagination.sync="pagination"
      item-key="value"
    >
      <template v-slot:item.valorTarifa="{ item }">
        R$ {{ item.valorTarifa }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    itemsValores: [],
    headers: [
      {
        text: "Origem",
        value: "dddOrigem"
      },
      {
        text: "Destino",
        value: "dddDestino"
      },
      {
        text: "Valor por minuto",
        value: "valorTarifa"
      }
    ]
  }),

  computed: {
    ...mapGetters(["getTabelaPrecos"])
  },

  methods: {
    async consultaDados() {
      this.itemsValores = await this.getTabelaPrecos;
    }
  },

  async mounted() {
    this.$store
      .dispatch("actionConsultaTabelaPrecos")
      .then(async () => await this.consultaDados());
  }
};
</script>

<style>
.tabela-preco {
  border: 1px solid #ddd;
  width: 100%;
}

.texto-tabela-preco {
  width: 100%;
  text-align: center;
}

.borda-tabela {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
}
</style>
